.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.plp-header {
  position: relative;
  display: flex;
  justify-content: center;
}

.plp-header h1 {
  position: absolute;
  align-self: center;
  left: 0;
  background-color: #9595ee;
  color: white;
  padding: 10px 10px 10px 7.5%;
}

.plp-header img {
  width: 70%;
  height: 274px;
}

.plp-products {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.plp-card {
  margin: 40px;
}

.plp-card a {
  text-decoration: none;
  color: #282c34;
}

.plp-card .price {
  font-weight: 800;
}

.plp-body {
  display: flex;
  flex-direction: row;
}

.plp-modal {
  display: flex;
  justify-content: space-around
}

.plp-modal .name {
  color: #0070d2;
  text-transform: capitalize;
}

.plp-modal .desc {
  text-transform: capitalize;
}

.plp-modal .price {
  font-weight: bold;
}

.plp-modal, .plp-card button {
  margin-right: 5px;
}

.anc {
  display: flex;
  justify-content: center;
}