body {
  font-family: "Raleway", sans-serif !important;
  background-color: #f1f1f1 !important;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  row-gap: 8px;
  font-weight: 400;
}
.heading p span {
  background-color: #343a40;
  color: white;
  padding: 5px 8px;
  letter-spacing: 2px;
  border-radius: 5px;
}

.card {
  margin: 20px 0px;
} 
.row {
  margin: 20px;
}

.card-img-top {
  height: 200px;
}

.outerContainer {
  display: flex;
  margin: 0 3%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.outerContainer .leftCard {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.outerContainer .rightCard {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-basis: 33%;
}
@media (max-width: 720px) {
  .outerContainer {
    flex-direction: column;
    row-gap: 20px;
  }
}

.opacity {
  opacity: 0.6;
}

.cardFooter button {
  background-color: white;
  padding: 12px 24px;
  border: 1px solid #ccc;
  font-weight: 500;
}
.cardFooter comments {
  letter-spacing: 0px;
}
.cardFooter button:hover {
  background-color: rgba(52, 58, 64, 0.1607843137);
}
.cardFooter div {
  padding: 12px 24px;
}
.cardFooter div span {
  background-color: black;
  color: white;
  padding: 2px 5px;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px;
}
.card img {
  width: 100%;
  height: auto;
}
.card .cardHeading {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.card .cardHeading p {
  padding: 10px 0;
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.8;
}
.card .cardHeading .bottomPaddingZero {
  padding-bottom: 0;
}

.card2 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.card2 h4 {
  padding: 15px;
}
.card2 ul {
  padding: 0;
  margin: 0 !important;
  background-color: white;
  list-style-type: none;
}
.card2 ul li {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  display: flex;
}
.card2 ul li:hover {
  background-color: rgba(52, 58, 64, 0.1607843137);
}
.card2 ul li img {
  height: auto;
  width: 15%;
}
.card2 ul li div {
  margin-left: 20px;
}
.card2 ul li span:first-of-type {
  font-size: 18px;
}

.card3 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.card3 h4 {
  padding: 10px 15px;
}
.card3 div {
  padding: 10px;
  background-color: white;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.card3 div span:first-of-type {
  background-color: black;
  color: white;
  font-size: 14px;
}
.card3 div span {
  padding: 5px;
  background-color: rgba(52, 58, 64, 0.1607843137);
  font-size: 12px;
  color: rgba(0, 0, 0, 0.527);
}

.comments .result {
  color: red;
  text-transform: capitalize;
}

.plp {
  margin: 0px !important;
}

.plp-tile {
  border: 1px solid white;
  background-color: #ccc;
  padding: 10px 0;
  margin: 0;
}

.plp-tile img {
  margin-bottom: 10px;
}